.custom-avatar {
  position: relative;
  width: 400px;
  height: 400px;
  
  img {
    overflow: hidden;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .overlay {
    display: none;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .add-btn{
      font-size: 100px;
      opacity: 0.4;
    }
    .add-btn:hover{
      opacity: 1;
    }
    .delete-btn{
      position: absolute;
      top:0;
      right: 0;
      font-size: 30px;
    }
  }
  &:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
