.App {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  //padding: 20px 0;
  box-sizing: border-box;
  background-color: white;
  //padding: 20px 40px;
  
  .header {
    
    //border-bottom: 1px solid gray;
    
    .search-country-form {
      position: relative;
      width: 450px;
      margin: auto;
      
      input {
        //width: 100%;
        //box-sizing: border-box;
        //padding: 10px 20px;
        //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        //font-size: 16px;
        //border: none;
        //border-bottom: 3px solid #dbdbdb;
        color: white;
        background-color: #5870ff;
        padding: 10px;
        border-radius: 5px 5px 0 0;
      }
      
      //input:focus {
      //  outline: none;
      //  border-bottom: 3px solid black;
      //}
    }
    
    //.suggestions-list {
    //  position: absolute;
    //  z-index: 100;
    //  width: 100%;
    //  list-style-type: none;
    //  padding: 0;
    //  margin: 0;
    //  border-radius: 0 0 10px 10px;
    //
    //  overflow: hidden;
    //
    //  li {
    //
    //    padding: 10px 22px;
    //    cursor: pointer;
    //    background-color: #e2e2e2;
    //  }
    //
    //  li:hover {
    //    background-color: #ebebeb;
    //  }
    //}
    
    .auth-section {
      width: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .user-section {
      width: 180px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      .name {
        margin-left: 10px;
      }
      
      .logout-btn {
        background-color: transparent;
        color: white;
        padding: 0;
        border: none;
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    
    
    .country-info {
      flex-grow: 1;
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-right: 20px;
      
      .heading {
        display: flex;
        width: 100%;
        //display: flex;
        align-items: center;
        //justify-content: center;
        
        img {
          width: 50px;
          margin-right: 20px;
          display: block;
        }
        
        //h2{
        //  display:inline-block;
        //}
      }
      
      .country-info-table {
        width: 100%;
        
        .country-table-item {
          margin: 20px 0;
          padding: 10px 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          font-size: 20px;
          border-bottom: 1px dotted gray;
        }
      }
    }
    
    .weather-info {
      flex-grow: 1;
      width: 60%;
      //padding: 0 30px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      //justify-content: center;
      flex-direction: column;
      
      h1 {
        text-align: center;
      }
    }
  }
  
  
}
.selected{
  background-color: #5870ff !important;
}
