.weather-info form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
  .row {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #cacaca;
    position: relative;
    
    input {
      padding: 5px;
      font-size: 20px;
      border-radius: 5px;
      border: 2px solid #cacaca;
      width: 50px;
    }
    
    input:disabled {
      border-color: transparent;
      color: black;
      background-color: white;
    }
    
    select {
      font-size: 20px;
      padding: 5px;
      width: 160px;
    }
    
    select:disabled {
      border-color: transparent;
      color: black;
      background-color: white;
      -webkit-appearance: none;
    }
    
    .error {
      position: absolute;
      bottom: -20px;
      z-index: 100;
      display: block;
      background-color: #dc5664;
      padding: 5px 10px;
    }
  }
}


.modal-form {
  width: 100%; // Fix IE 11 issue.
  margin-top: 10px;
  
}

.sign-up-form {
  img {
    width: 100%; /* Ширина изображений */
    height: 60px; /* Высота изображении */
    overflow: hidden;
    object-fit: contain;
    
  }
}
.profile-form{
  display: flex;
  justify-content: space-around;
  
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  
  //justify-content: space-between;
  width: 100%;
  
  .logo{
    position: relative;
    padding-bottom: 50px;
    //img{
    //  width: 400px;
    //  height: 400px;
    //  overflow: hidden;
    //  object-fit: contain;
    //}
    //button{
    //  position:absolute;
    //  bottom:0;
    //  left: 0;
    //  width: 100%;
    //}
  }
  .form-controls{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    .input-container{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      .input{
        width: 300px;
        margin: 0;
      }
      //.error>div::before{
      //  border-bottom-color: red!important;
      //}
      //.error>div::after{
      //   border-bottom-color: red!important;
      // }
      //.error>div>fieldset{
      //  border-color: red!important;
      //}
      .textarea{
        width: 100%;
      }
      .tooltip{
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        bottom:-10px;
        right: 0px;
        font-size: 15px;
        color: black;
      }
    }
    &>button{
      min-width: 100px;
      height: 36px;
      margin: 0 20px;
      margin-top: 20px;
    }
  }
}

.contacts-form, .address-form{
  display: flex;
  justify-content: center;
  width: 450px;
  flex-wrap: wrap;
  //border-bottom: 1px solid gray;
  padding-bottom: 20px;
  h2{
    width: 100%;
    text-align: center;
  }
  //justify-content: space-between;
  //width: 100%;
  .input-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input, .select{
      width: 300px
    }
    .select{
      margin-bottom: 20px;
    }
    .textarea{
      width: 100%
    }
    .combobox{
      button{
        display: none;
      }
    }
  }
}
.combobox{
  button{
    display: none;
  }
}