.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
  }
  
}

.overlay {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.blocker-modal {
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  background-color: white;
  z-index: 10000000;
  
  h1 {
    text-align: center;
  }
}

.blocked{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}