button:disabled {
  display: none !important;
}
.weather-info {
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px;
    font-weight: bold;
  }
  
  
}

.modal-form {
  .submit-btn {
    margin: 20px 0 15px;
  }
}