
.footer {
  margin-top:auto;
  background-color: white;
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid gray;
}