.header > div {
  padding: 20px;
  ////padding: 20px 0;
  //padding-bottom: 30px;
  //width: 100%;
  ////background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ////margin-bottom: 40px;
  ////border-bottom: 1px solid gray;
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    opacity: .5;
  }
}