.suggestion-list{
  max-height: 180px !important;
  //overflow: hidden;
  padding: 0;
  margin: 0;
  //overflow: -moz-scrollbars-vertical;
  //overflow-y:scroll !important;
}
//*:disabled{
//  display: none;
//


.Mui-disabled{
  color: black !important;
}
.MuiInput-underline.Mui-disabled:before{
  border-color: #aaaaaa !important;
  
}
